@model IEnumerable<Bookings.Models.Transport>

@{
    ViewData["Title"] = "Index";
}

<h1>Book your Transport</h1>
<link href="~wwwroot/css/Transport.css" rel="stylesheet" />

<div class="form-group">
    <a onclick="window.location.href = 'https://auth.uber.com/v2/?breeze_local_zone=dca11&next_url=https%3A%2F%2Fm.uber.com%2F&state=y6snlnd1iuaUq3ccVsJc59EhgBJxla502MPUv1o9mf8%3D';" >
    <input type="button" style="background-image: url(/Images/Uber.png);margin:auto; padding:20%; background-size: 20px 5vh; background-repeat: no-repeat;" class="ButtonUber btn btn-primary"/>
    </a>
</div>

<div class="form-group">
    <a onclick="window.location.href = 'https://bolt.eu/?utm_source=googleadwords_int&utm_medium=cpc&utm_campaign=za_brand_search&utm_source=google&utm_medium=ads&utm_campaign=9600998124&gclid=Cj0KCQiA37KbBhDgARIsAIzce14mKtHBQZnWnP2ZSoYGuJVUiJEJw72QBzxP7y8GxGE8WjcplzavtxsaAi3sEALw_wcB';">
        <input type="button" value="Bolt" class="ButtonBolt btn btn-primary" />
    </a>
</div>
<div class="form-group">
    <a onclick="window.location.href = 'http://ride.yoonet.co.za/';">
        <input type="button" value="Yookoo" class="ButtonYookoo btn btn-primary" />
    </a>
</div>


